<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block content %}

    <title>{{ article_obj.user.first_name}} {{ article_obj.user.last_name}}</title>

</head>

<body>

        {% include 'itmagazineapp/topnav.html'%}

        <ul style="list-style-type:none;">
            <br>
            <li><a href="{% url 'editarticle' article_obj.id %}">edit article</a></li>
            <br>
            <br>
            <li><a href="{% url 'user' article_obj.user.id%}">{{ article_obj.user.first_name }} {{ article_obj.user.last_name }}</a> &nbsp&nbsp&nbsp {{ article_obj.date_published }} </li>
            <br>
            <li><h1>{{ article_obj.headline }}</h1></li>
            <li><h2 style="font-weight:normal;">{{ article_obj.description}}</h2></li>
            <br>
            <li>{{ article_obj.body }} </li>
            <br>
        </ul>

        {% include 'comments/list-comments.html'%}

        {% include 'comments/form-comment.html'%}

        {% include 'itmagazineapp/footer.html'%}

    {% endblock %}

</body>

</html>