<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>
<body>

    {% block content %}

    {% include 'topnav.html'%}
    
        <form action= "" method="POST"> {% csrf_token %} 
            
            <ul style="list-style-type:none;">

                <h2>Edit Profile</h2>

                <li><strong>First Name</strong></li>
                <li>{{ form_user.first_name }}</li>
                <br>
                <li><strong>Last Name</strong></li>
                <li>{{ form_user.last_name }}</li>
                <br>
                <br>

                <li><strong>Username</strong></li>
                <li>{{ form_user.username }}</li>
                <br>
                <br>

                <li><strong>Bio</strong></li>
                <li>{{ form_user.short_description }}</li>
                <br>
                <li><strong>About</strong></li>
                <li>{{ form_user.long_description }}</li>
                <br>
                <br>

                <li><strong>Email</strong></li>
                <li>{{ form_user.email }}</li>
                <br>
                <li><strong>Password</strong></li>
                <li>{{ form_user.password }}</li>
                <br>
                <br>

                <input type="submit" value = "Save Changes"/>

            </ul>
            
        </form>
    
        {% include 'footer.html'%}
    
    {% endblock %}

</body>
</html>