    <form enctype="multipart/form-data" action= "" method="POST"> {% csrf_token %} 
            
        <ul style="list-style-type:none;">
            <li><strong>User</strong></li>
            <li>{{ form_article.user }}</li>
            <br>
            <li><strong>Headline</strong></li>
            <li>{{ form_article.headline }}</li>
            <br>
            <li><strong>Description</strong></li>
            <li>{{ form_article.description }}</li>
            <br>
            <li><strong>Body</strong></li>
            <li>{{ form_article.body }}</li>
            <br>
            <li><strong>Article Picture</strong></li>
            <li>{{ form_article.article_pic }}</li>
            <br/>
            <li><strong>Location</strong></li>
            <li>{{ form_article.location }}</li>
            <br>
            <br>
            <input type="submit" value = "Publish"/>     
        </ul>
            
    </form>    