<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'articles/style.css' %}">

</head>
<body>

    <h1>Home</h1>

    {% block content %}

    {% include 'topnav.html'%}

    <h2>Trending</h2>

        {% for article in article_obj %}

        <ul>
            <il><a href="{% url 'read' article.id %}"><strong>{{ article.headline }}</strong></a></il>
            <br>
            <il><a href="{% url 'profile' user.id %}">{{ article.user.first_name }} {{ article.user.last_last }} </a></il>
            <br>
            <il>{{ article.description }} </il>
        </ul>

        {% endfor %}
   
    <h2>Recommended</h2>

    {% for article in article_obj %}

        <ul>
            <il><a href="{% url 'read' article.id %}"><strong>{{ article.headline }}</strong></a></il>
            <br>
            <il><a href="{% url 'profile' user.id %}">{{ article.user.first_name }} {{ article.user.last_last }} </a></il>
            <br>
            <il>{{ article.description }} </il>
        </ul>
    
    {% endfor %}

    {% endblock %}

</body>
</html>