<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>
<body>

    {% block content %}

    {% include 'topnav.html'%}

    <h2>Trending</h2>

        {% for article in article_obj %}
        
        <ul>
            <il><a href="{% url 'article' article.id %}"><strong>{{ article.headline }}</strong></a></il>
            <br>
            <il><a href="{% url 'user' article.user.id %}">{{ article.user.first_name }} {{ article.user.last_name }}</a></il> <!-- Hard Bug here Be consistent with url path article.user.id -->
            <br>
            <il>{{ article.description }} </il>
        </ul>

        {% endfor %}
   
    <h2>Recommended</h2>

        {% for article in article_obj %}
            
        <ul>
            <il><a href="{% url 'article' article.id %}"><strong>{{ article.headline }}</strong></a></il>
            <br>
            <il><a href="{% url 'user' article.user.id %}">{{ article.user.first_name }} {{ article.user.last_name }}</a></il> <!-- Hard Bug here Be consistent with url path article.user.id -->
            <br>
            <il>{{ article.description }} </il>
        </ul>

        {% endfor %}

        {% include 'footer.html'%}

    {% endblock %}

</body>
</html>