<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Articles</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'articles/style.css' %}">


</head>
<body>
    

    <h1>IT MAGAZINE test</h1>

    <div class="topnav">
        <a href="#story"><strong>Story</strong></a>
        <a href="#share">Share</a>
        <a href="#signin">Sign In</a>
        <a href="#getstarted">Get Started</a>

        <a href="#story">Story</a>
        <a href="#share">Share</a>
        <a href="#signin">Sign In</a>
        <a href="#getstarted"><strong>Started</strong></a>

    </div>

   
    <h2>Recommended</h2>

    <ul>
        <li>Introducing Code-Generator EX for AMPLE</li>
        <li>Singapore Tech Summit 2025</li>
        <li>Research EXP : EX Data is not enough for AI</li>
        <li>Good Relationship: AMPLE and EX create EX VR prototype</li>
        
        
    </ul>

    <h2>Footer</h2>

    <ul>
        <li>Learn More</li>
        <li>About</li>
        <li>Help</li>
        <li>Support Us</li>
        <li>1995- 2025</li>
    </ul>

</body>
</html>