<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>
<body>

    {% block content %}

    {% include 'topnav.html'%}

        <ul>
            <br>
            <il><h1>{{profile_obj.first_name}} {{profile_obj.last_name}}</h1></il>
            <il><h2 style="font-weight:normal;">{{profile_obj.short_description}}</h2></il>
            <br>
            <il>{{profile_obj.long_description}} </il>
        </ul>

        {% include 'footer.html'%}

    {% endblock %}

</body>
</html>