<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>

<body>

    {% block content %}

    {% include 'topnav.html'%}

    <ul>
        <br>
        <il><a href="{% url 'editarticle' article_obj.id %}">edit</a></il>
        <br>
        <br>
        <il>{{ article_obj.user.first_name }} {{ article_obj.user.last_name }} </il>
        <br>
        <il>
            <h1>{{ article_obj.headline }}</h1>
        </il>
        <il>
            <h2 style="font-weight:normal;">{{ article_obj.description}}</h2>
        </il>
        <br>
        <il>{{ article_obj.body }} </il>
        <br>
    </ul>


        {% include 'footer.html'%}

    {% endblock %}

</body>

</html>