<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'articles/style.css' %}">

</head>
<body>

    {% block content %}

    <h1>Workspace</h1>
    
    {% include 'topnav.html'%}

    <h2>Previous</h2>

        {% for article in article_obj%}

            <ul>

                <il><a href="{% url 'read' article.user.id %}"><strong>{{article.headline}}</strong></a></il>
                <br>
                <il>{{article.user.first_name}} {{article.user.last_name}}</il>

            </ul>

        {% endfor %}

    <h2>Start new article</h2>

        <form action= "" method="POST"> {% csrf_token %} 
            
            {{ form_article.as_p }}

            <input type="submit" value = "Create"/>

        </form>

    {% endblock %}

</body>
</html>