<!DOCTYPE html>
<html lang="en">
<head>

    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>
<body>

    {% include 'itmagazineapp/topnav.html'%}

    <h2>Previous</h2>

        {% for article in article_obj%}

            <ul style="list-style-type:none;">

                <li><a href="{% url 'article' article.user.id %}"><strong>{{article.headline}}</strong></a></li>
                <br>
                <li>{{article.user.first_name}} {{article.user.last_name}}</li>

            </ul>

        {% endfor %}

        <h2>Start new article</h2>

        {% include 'form-article.html'%}

        {% include 'itmagazineapp/footer.html'%}

    {% endblock %}

</body>
</html>