<!DOCTYPE html>
<html lang="en">
<head>

    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Test</title>

</head>
<body>

    {% include 'itmagazineapp/topnav.html'%}

    <ul style="list-style-type:none;">
        <li><h2>Edit User</h2></li>
        <li><img src="{{user_obj.edit_pic.url}}"  
            style="object-fit:cover;
                object-position: right;
                width:200px;
                height:300px;
                border: solid 1px #CCC"></li> 
    </ul>

        {% include 'users/form-user.html'%}

        {% include 'itmagazineapp/footer.html'%}
    
    {% endblock %}

</body>
</html>