<!DOCTYPE html>
<html lang="en">
<head>

    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{user_obj.first_name}} {{user_obj.last_name}}</title>

</head>
<body>

    {% include 'itmagazineapp/topnav.html'%}

        <ul style="list-style-type:none;">
            <br>
            <li><a href="{% url 'edituser' user_obj.id %}">edit user</a></li>
            <br>
            <li><h1>{{user_obj.first_name}} {{user_obj.last_name}}</h1></li>
            <li><h2>{{user_obj.short_description}}</h2></li>
            <br>
            <li>{{user_obj.long_description}} </li>
            <br>
            <li><img src="{{user_obj.user_pic.url}}"  
            style="object-fit:cover;
                object-position: right;
                width:200px;
                height:300px;
                border: solid 1px #CCC"> </li>
        </ul>
        
        <ul style="list-style-type:none;">
            
            <li><h2>Articles</h2></li>

                {% for article in article_obj_by_user %}

                        <li><a href="{% url 'article' article.id %}"><strong>{{ article.headline }}</strong></a></li>
                        <br>
                        <li><a href="{% url 'user' article.user.id %}">{{ article.user.first_name }} {{ article.user.last_name }}</a></li> <!-- Hard Bug here Be consistent with url path article.user.id -->
                        <br>
                        <li>{{ article.description }} </li>
                        <br>
                        <br>

                {% endfor %}
        </ul>

        {% include 'itmagazineapp/footer.html'%}

    {% endblock %}

</body>
</html>