<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS</title>
</head>
<body>

    <h1>Hello users app</h1>

        {% for x in user_obj%}

        <p><strong>Name:</strong>  {{x.first_name}} {{x.last_name}} </p>
        <p><strong>Username: </strong>{{x.username}}</p>
        

        {% endfor %}

    {% endblock %}
    
</body>
</html>